*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
    list-style: none;
    text-decoration: none;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
section header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
section header ul li a{
    font-weight: 700;
    font-size: 14px;
    color: #111;    
}
section header ul li a:hover{
    text-decoration: underline; 
}
section header ul button{
    padding: 10px 12px;
    border-radius: 3px;
    /*border: 0;*/
    background: #ffdb1a;
    outline: none;
    font-size: 14px;
    color: #1d1d1b;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    }
    section header ul button:hover{
        background: #ffed6d;        
    }

    /*Main*/

    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 580px;
        margin-bottom: 200px;
    }
    .main .searchBox{
        position: relative;
        width: 100%;
        margin-top: 20px;        
    }
    .main .searchBox .search{
        width: 100%;
        padding: 13px;
        padding-left: 45px;
        padding-right: 60px;
        border-radius: 30px;
        outline: none;
        font-size: 16px;
        border: 1px solid #5f6368
    }
    .main .searchBox .search:hover{
        border: 1px solid transparent;
        box-shadow: 0px 1px 10px #5f6368;        
    }
    #lupa{
        position: absolute;
        top: 0;
        width: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 100%;
        padding-left: 20px;
        pointer-events: none;
        color: #5f6368;
        font-size: 15px;
    }    
    #teclado{
        position: absolute;
        top: 0;
        width: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20%;
        padding-left: 450px;
        padding-right: 400px;
        pointer-events: none;
        margin-right: 100px;
        margin-left: 10px;
        font-size: 18px;
    }
    #microfone{
        position: absolute;
        top: 0;
        width: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 20%;
        padding-left: 495px;
        padding-right: 400px;
        pointer-events: none;
        margin-right: 100px;
        margin-left: 10px;
        font-size: 20px;
    }
    #camera{
        position: absolute;
        top: 0;
        width: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20%;
        padding-left: 530px;
        padding-right: 400px;
        pointer-events: none;
        margin-right: 100px;
        margin-left: 10px;
        font-size: 18px;
    }
    .main .button{
        margin-top: 30px;        
    }
    .main .button button{
        margin: 0 5px;
        padding: 14px 20px;
        color: #1d1d1b;
        font-size: 17px;
        outline: none;
        border-radius: 4px;       
        background: #fd0;
        cursor: pointer;

    }
    .main .button button:hover{
        border: 1px solid #5f6368;
        background: #ffed6d; 
    }
    .main .text{
        margin-top: 30px;
        font-size: 16px;
    }
    .main .text a{
        color: #1a0dab;
    }
    .main .text a:hover{
        text-decoration: underline;        
    }
    /*Footer*/

    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fd0;;
        width: 100%;
        color: #1d1d1b;
        font-family: arial,sans-serif;
    }
    footer .line{
        padding: 15px 25px;
        border: 1px solid rgba(0,0,0,0.05);
    }
    footer .line_top{
        font-size: 17px;        
    }
    footer .line.line2{
      display: flex;  
      justify-content: space-between;   
    }
    footer .line.line2 ul{
        display: flex;
    }
    footer .line.line2 ul li a{
        font-size: 17px;
        color: #1d1d1b;
        margin-right: 25px;
        text-decoration: underline;
    }
    footer .line.line2 il li a:hover{
        text-decoration: underline;
    }